.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 137px 1fr;
  justify-content: space-between;
  align-items: center;
  width: 1052px;
  height: 105px;
  margin: 92px 24px 96px 24px;  
}

.header_menu {
  width: 392px;
  height: 22px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  list-style: circle outside;
  font-weight: normal;
  font-size: 18px;
} 

.header__links-list-item_no-bullet {
  list-style: none;
} 

.header__logo-image {
  display: block;
  height: 105px;
}

.address {
  display: flex;
  justify-self: right;
  flex-direction: row-reverse;
  line-height: 1.5;
  font-style: normal;
  width: 240px;
}

