.header {
  display: grid;
  grid-template-columns: 1fr 137px 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 1052px;
  height: 105px;
  margin: 92px 24px 96px 24px;  
}

.header_menu {
  width: 392px;
  height: 22px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 18px;
  list-style: circle outside;
} 

.header__links-list-item_no-bullet {
  list-style: none;
} 

.header__logo-image {
  display: block;
  height: 105px;
}

.address {
  display: flex;
  width: 240px;
  font-style: normal;
  line-height: 1.5;
}

.header__address {
  flex-direction: row;
  justify-self: right;
  justify-content: flex-end;
 }

.cover {
  position: relative;
  z-index: -1;
  height: 757px;
  color:white;
  background-color: #000000;
  background-image: url("../images/cover.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover;
  
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title { 
  position: absolute;
  top: 165px;
  right: 50px;
  z-index: 1;
  width: 1000px;
  height: 355px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.5em;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 1em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: absolute; 
  right: 50px;  
  bottom: 50px;
  left: auto;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 972px;
  height: 51px; 
  margin-top: 135px;
  
}

.cover__description-text {
  font-size: 22px;
  font-style: normal;
  word-spacing: 10px;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 51px;
  border: 2px;
  border-style: solid;
  border-color: white;
  color: white;
  font-size: 22px;
  font-style: normal;
  background-color: transparent;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
}
.lots {
  position: relative;
  top: 179px; 
  left: 24px;
  z-index: 1;
  width: 1052px;
  height: 692px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lots__card-list-item {
  display: flex;
   
  flex-grow: 1;
  max-width: 334px;
  height: 100%;
}

.card-link {
  position: relative;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  height: 563px;
  color:white;
  text-decoration: none;
  background-color: #18191C;
}

.card_type_film {
  position: relative;
  z-index: -1;
  height: 100%;
  background-image: url("../images/card-lot-01.jpg"); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.card_type_book {
  position: relative;
  z-index: -1;
  height: 100%;
  background-image: url("../images/card-lot-02.jpg"); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.card_type_picture {
  position: relative;
  z-index: -1;
  height: 100%;
  background-image: url("../images/card-lot-03.jpg"); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.card__title {
position: absolute;
top: 51px;
left: 40px;
z-index: 1;
text-decoration: underline; 
text-transform: uppercase; 
}

.card__text {
position: absolute; 
right: 40px;
bottom: 48px;
left: 40px; 
z-index: 1;
font-size: 20px;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  width: 1052px;
  height: 595px;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  top: 177px;   
  left: 24px; 
}

.about__logo {
display: flex;
padding-top: 120px;
justify-content: center;
}

.about__logo-image {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background: black;
  border: 0;
  border-radius: 50%;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
  gap: 24px;  
}

.about__title {
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: -1;
  height: 98px;
  width: 1000px;
  margin: 250px 50px;
}

.footer__address {
  justify-self: right;
  justify-content: flex-start;
}

.footer__social-list {
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 48px;
list-style: none;
}

.footer__social-icon {
height: 48px;
width: auto;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
}